<div class="content-header">
    <h3>Processos Importados</h3>
    <small>Lista de processos importados automaticamente do TJ.</small>
    <div class="header-buttons">
        
    </div>
</div>

<div *ngIf="false" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid fields">
    <div class="ui-grid-row">
        <div class="ui-grid-col-3">
            <label for="nroProcesso">Número do processo</label>
            <input pInputText id="nroProcesso" type="text" placeholder="Digite aqui" />
        </div>
        <div class="ui-grid-col-3">
            <label for="status">Status</label>
            <p-dropdown id="status" [options]="comboGenerico"></p-dropdown>
        </div>
        <div class="ui-grid-col-2 button-field">
            <button pButton type="button" label="Pesquisar" icon="fa-search" class="ui-button-primary"></button>
        </div>
    </div>
</div>

<div [hidden]="processos==null" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid fields margin-top">
    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <p-dataTable [value]="processos" [paginator]="true" [pageLinks]="10"
                selectionMode="single" [(selection)]="processoSelected" (onRowSelect)="onRowSelect($event)"
                [lazy]="true" [rows]="numRows" [paginator]="true" [totalRecords]="numTotal" (onLazyLoad)="lazyLoadProcessos($event)">
                <p-column field="numProcesso" [style]="{'width':'180px'}" header="Nro. Processo" styleClass="align-center"></p-column>
                <p-column field="nomPoloAtivo" header="Polo Ativo" styleClass="align-center truncate-cell"></p-column>
                <p-column field="nomPoloPassivo" header="Polo Passivo" styleClass="align-center truncate-cell"></p-column>
                <p-column field="stsValidadoUsuario" [style]="{'width':'80px'}" header="Status" styleClass="align-center">
                    <template let-col let-item="rowData" pTemplate="body">
                        <span *ngIf="item[col.field] == null" class="badge badge-warning">Importado</span>
                        <span *ngIf="item[col.field] != null" class="badge badge-success">Validado</span>
                    </template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div>