<div class="content-header">
    <h3>Processos Solicitados</h3>
    <small>Lista de processos solicitados manualmente no TJ, e aguardando processamento.</small>
    <div class="header-buttons">
        <button pButton type="button" icon="fa-search" title="Solicitar pesquisa de processo" (click)="showDialog(dialogSolicitarPesquisa)"></button>
    </div>
</div>

<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid fields">
    <div class="ui-grid-row">
        <div class="ui-grid-col-6">
            
            <ul class="circle-index-list">
              <li *ngFor="let item of processos;">
                <h6 class="circle-index-warning">{{item.strDataInclusao}}</h6>
                <p><small>Processo </small><br />{{item.numeroProcesso}}</p>
              </li>
            </ul>

        </div>
        <div class="ui-grid-col-6">

          <div class="single-icon-info">
            <div class="icon"><i class="fa fa-clock-o"></i></div>
            <h6>30min</h6>
            <p>Tempo médio para processamento</p>
          </div>

        </div>
    </div>
</div>

<div class="action-buttons">
    <button pButton type="button" icon="fa-search" label="Solicitar pesquisa de processo" (click)="showDialog(dialogSolicitarPesquisa)"></button>
</div>

<p-dialog #dialogSolicitarPesquisa width="500" modal="true" resizable="false" [(visible)]="dialogSolicitarPesquisa.visible">
    <p-header>
        Solicitação de pesquisa de processo <span class="badge badge-info">TJ</span>
    </p-header>
    
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid fields">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <label for="nroProcessoSolicitacaoPesquisa">Número do processo</label>
                <input id="nroProcessoSolicitacaoPesquisa" [(ngModel)]="numeroProcesso" pInputText type="text" placeholder="Digite aqui" />
            </div>
        </div>
    </div>

    <div class="action-buttons">
        <button pButton [disabled]="numeroProcesso==''" type="button" label="Solicitar pesquisa" icon="fa-check" class="ui-button-primary" (click)="solicitarProcesso(); hideDialog(dialogSolicitarPesquisa)"></button>
        <button pButton type="button" label="Cancelar" icon="fa-close" class="ui-button-secondary" (click)="hideDialog(dialogSolicitarPesquisa)"></button>
    </div>
</p-dialog>

<loading-indicator #loadingIndicator></loading-indicator>